@model IEnumerable<NotesMarketplace.context.ViewModel>



@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_mytemplate2(admin).cshtml";
}

<section class="admin">
    <div class="content-box-md">
        <div class="container1">

            <div class="search-flex" style="margin-top: 60px;">
                <div>
                    <h1>Spam Reports</h1>
                </div>
                <div class="flex-search-buttons">
                    <input type="text" id="myInput" onkeyup="myFunction()" class="search" name="search" placeholder="&emsp;&emsp;Search" style="background-image: url('../admin/images/search.jpg');
                              background-position: 10px 10px; background-repeat: no-repeat">

                    <button type="button">SEARCH</button>
                </div>

            </div>
        </div>
    </div>
</section>


<div style="overflow-x: auto;">
    <div class="context-menu-container" id="context-menu-items">
        <ul>
            <li>Download Notes</li>
            <li>View More Details</li>

        </ul>
    </div>
    <table class="main-table" border="1" width="98%" id="myTable">
        <tr class="line">
            <th>SR NO.</th>
            <th>REPORTED BY</th>
            <th>NOTE TITLE</th>
            <th>CATEGORY</th>
            <th>DATE EDITED</th>
            <th>REMARK</th>
            <th>ACTION</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.sellernotesreportedissues.ID</td>
                    <td>@item.user.FullName</td>
                    <td>@item.sellernote.Title</td>
                    <td>@item.download.NoteCategory</td>
                    <td>@item.sellernotesreportedissues.CreatedDate</td>
                    <td>@item.sellernotesreportedissues.Remarks</td>
                    <td><a href="@Url.Action("Delete",new {id=item.sellernotesreportedissues.ID })"><i class="fa fa-trash" aria-hidden="true" style="font-size: 25px;color: #d1d1d1;padding-left: 15px"></i></a></td>
                    <td class="context-menu" data-container-id="context-menu-items" data-row-id="1"></td>
                    <!-- <td>@Html.ActionLink("Delete", "DeleteEmp", new { id = item.sellernotesreportedissues.ID })</td>-->






                </tr>
            }
        </tbody>
    </table>
</div>
