@model IEnumerable<NotesMarketplace.context.APublishedModel>

@{
    ViewBag.Title = "APublishedNotes";
    Layout = "~/Views/Shared/_mytemplate2(admin).cshtml";
}

<section class="admin">
    <div class="content-box-md">
        <div class="container1">
            <h1 style="margin-top: 100px;">Published Notes</h1>
            <p>Seller</p>
            <div class="search-flex">
                <div class="add-admin-btn">
                    <select  id="roleDropdown">
                        <option value="All">Select</option>
                        <option value="KhyatiPatel">KhyatiPatel</option>
                        <option value="RahulShah">RahulShah</option>
                        
                    </select>
                </div>
                <div class="flex-search-buttons">
                    <input type="text" id="myInput" onkeyup="myFunction()" class="search" name="search" placeholder="&emsp;&emsp;Search" style="background-image: url('../admin/images/search.jpg');
                              background-position: 10px 10px; background-repeat: no-repeat">

                    <button type="button">SEARCH</button>
                </div>

            </div>
        </div>
    </div>
</section>

<div style="overflow-x: auto;">
    <div class="context-menu-container" id="context-menu-items">
        <ul>
            <li>Download Notes</li>
            <li>View More Details</a></li>
            <li>Unpublish</li>
        </ul>
    </div>
    <table class="main-table" border="1" width="98%" id="myTable">
        <tr class="line">
            <th>SR NO.</th>
            <th>NOTE TITLE</th>
            <th>CATEGORY</th>
            <th>SELL TYPE</th>
            <th>PRICE</th>
            <th>SELLER</th>
            <th></th>
            <th>PUBLISHED DATE</th>
            <th>APPROVED BY</th>
            <th>NUMBER OF <br>DOWNLOADS </th>
            <th></th>
        </tr>
        <tbody id="download-forms-table-tbody">
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.sellernote.ID</td>
                <td>@item.sellernote.Title</td>
                <td>@item.notecategory.Name</td>
                <td>@item.sellernote.IsPaid</td>
                <td>@item.sellernote.SellingPrice</td>
                <td>@item.user.FullName</td>
                <td><img src="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/eye.png" /></td>
                <td>@item.sellernote.CreatedDate</td>
                <td>@item.auser.FullName</td>
                <td>@item.sellernote.NoOfDownloads</td>

                <td class="context-menu" data-container-id="context-menu-items" data-row-id="1"></td>

                <!--<td><a href="@Url.Action("Delete",new {item.sellernote.ID })"><i class="fa fa-trash" aria-hidden="true" style="font-size: 25px;color: #d1d1d1;padding-left: 15px"></i></a></td>-->
            </tr>

            }
            </tbody>
        </table>
    </div>

