<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <!--<title>Sticky Header</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">-->
    <!-- title -->
    <title>MARKETPLACE</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")Marketplace/front/css/bootstrap/6.1%20bootstrap.min.css">


    <!--custom CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")Marketplace/front/css/main.css">

    </header>
    <body>
        <header>
            <div class="wrapper" id="wrapper">
                <div class="logo-wrapper">
                    <img src="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/top-logo.png" id="imgid">

                </div>
                <div class="sec-8">
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars" id="icon8"></i>
                        <i class="fa fa-window-close" id="icon9" style="display: none"></i>
                    </a>
                </div>
                <div class="navigation-wrapper" id="navigation">
                    <a href="search.html">Search Notes</a>
                    <a href="dashboard.html">Sell Your Notes</a>
                    <a href="buyer_requests.html">Buyer Requests</a>
                    <a href="faq_page.html">FAQ</a>
                    <a href="contact_us.html">Contact Us</a>
                    <div class="dropdown">
                        <img src="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/customer-1.png" onclick="myFunction()" class="dropbtn" style="height: 75px;width: 75px;margin-top: 5px;margin-left: 2px">

                        <div id="myDropdown" class="dropdown-content">
                            <a href="user_profile.html" style="color: black; padding-top: 10px;">My Profile</a>
                            <a href="my_downloads.html" style="color: black; padding-top: 10px;">My Downloads</a>
                            <a href="my_sold_notes.html" style="color: black;padding-top: 10px;">My Sold Notes</a>
                            <a href="my_rejected_notes.html" style="color: black;padding-top: 10px;">My Rejected Notes</a>
                            <a href="change_password.html" style="color: black;padding-top: 10px;">Change Password</a>
                            <a href="#" style="color: #6255a5;padding-top: 10px;">LOGOUT</a>
                        </div>
                    </div>

                    <a1 href="#"><button type="button" style="width: 85px;margin-top:5px;margin-left: 3px;color:white;background-color: #6255a5">Logout</button></a1>
                </div>
        </header>

        @RenderBody()

        <footer>
            <hr>
            <div class="footer">
                <p>Copyright <i class="far fa-copyright"></i>TatvaSoft All rights reserved.</p>
                <div>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="	fab fa-linkedin-in"></i>
                </div>
            </div>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <!-- Bootstrap JS -->
            <script src="@Url.Content("~/Content/mytemplate/")Marketplace/front/js/bootstrap/bootstrap.min.js"></script>

            <script src='https://kit.fontawesome.com/a076d05399.js'></script>

            <!-- Custom JS -->
            <script src="@Url.Content("~/Content/mytemplate/")Marketplace/front/js/script.js"></script>
            <script src="@Url.Content("~/Content/mytemplate/")Marketplace/front/js/nav.js"></script>
        </footer>

    </body>
</html>

