@model List<NotesMarketplace.context.NoteType>
@{
    ViewBag.Title = "ManageType";
    Layout = "~/Views/Shared/_mytemplate2(admin).cshtml";
}

<section class="admin">
    <div class="content-box-md">
        <div class="container1">
            <h1 style="margin-top: 100px;">Manage Type</h1>
            <div class="search-flex">
                <div class="add-admin-btn">
                    <a href="../Settings/Type"> <button type="button">ADD TYPE</button></a>
                </div>
                <div class="flex-search-buttons">
                    <input type="text" id="myInput" onkeyup="myFunction()" class="search" name="search" placeholder="&emsp;&emsp;Search" style="background-image: url('../admin/images/search.jpg');
                              background-position: 10px 10px; background-repeat: no-repeat">

                    <button type="button">SEARCH</button>
                </div>

            </div>
        </div>
    </div>
</section>

<table class="table table-hover" id="myTable">
    <tr>
        <th>SR.NO.</th>

        <th>Type</th>
        <th>DESCRIPTION</th>
        <th>DATE ADDED</th>
        <th>ADDED BY</th>
        <th>ACTIVE</th>
        <th>ACTION</th>
    </tr>
    @foreach (var item in Model)
    {

<tr>
    <td>@item.ID</td>
    <td>@item.Name</td>
    <td>@item.Description</td>

    <td>@item.CreatedDate</td>
    <td>@item.CreatedBy</td>
    <td>@item.IsActive</td>
    <!--<td>
        <a href="@Url.Action("ContactUs",new { item.ID,item.Name,item.Description})" class="btn btn-success">Edit</a>
        <a href="@Url.Action("Delete",new { item.ID })" class="btn btn-danger">Delete</a>
    </td>-->
    <td>
        <a href="@Url.Action("Type",new {item.ID,item.Name,item.Description})"><img src="@Url.Content("~/Content/mytemplate/")Marketplace/admin/images/edit.png"></a>
        <a href="@Url.Action("DeleteType",new {id1 = item.ID})"><i class="fa fa-trash" aria-hidden="true" style="font-size: 25px;color: #d1d1d1;padding-left: 15px"></i></a>
    </td>
</tr>
    }
</table>

