@model IEnumerable<NotesMarketplace.context.PublishedModel>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_mytemplate2(admin).cshtml";
}

<h2>Dashboard</h2>

<!--@if (ViewBag.ID != null)
{
    <h2>Hello, @ViewBag.ID</h2>
}-->


<section class="admin">
    <div class="content-box-md">
        <div class="container1">
            <h1 style="margin-top: 100px">Dashboard</h1>

            <div class="row-flex">
                <div class="dashboard">
                    <h2>20</h2>
                   
                    <p1>Number of notes Review for Publish</p1>
                </div>

                <div class="dashboard">
                    <h2>103</h2>
                    <p1>Number of New Notes Downloaded</p1>
                    <p1>(Last 7 days)</p1>
                </div>

                <div class="dashboard">
                    <h2>223</h2>
                    <p1>Number of New Registrations(Last 7 Days)</p1>
                </div>

            </div>

            <div class="search-flex">
                <div>
                    <h1>Published Notes</h1>
                </div>
                <div class="flex-search-buttons">
                    <input type="text" id="myInput" onkeyup="myFunction()" class="search" name="search" placeholder="&emsp;&emsp;Search" style="background-image: url('../admin/images/search.jpg');
                          background-position: 10px 10px; background-repeat: no-repeat">

                    <button type="button">SEARCH</button>

                    <select id="month">
                        <option value="month">Select Month</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="overflow-x: auto;">
    <div class="context-menu-container" id="context-menu-items">
        <ul>
            <li>Download Note</li>
            <li><a href="">View  Details</a></li>
            <li>Unpublish</li>
        </ul>
    </div>
    <table class="main-table" border="1" width="98%" id="myTable">


        <tr class="line">
            <th>SR NO.</th>
            <th>TITLE</th>
            <th>CATEGORY</th>
            <th>ATTACHMENT SIZE</th>
            <th>SELL TYPE</th>
            <th>PRICE</th>
            <th>PUBLISHER</th>
            <th>PUBLISHED DATE</th>
            <th>NUMBERS OF<br>DOWNLOADS</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.sellernote.ID</td>
                    <td>@item.sellernote.Title</td>
                    <td>@item.notecategory.Name</td>
                    <td>@item.sellernote.AttachmentSize</td>
                    <td>@item.sellernote.IsPaid</td>
                    <td>@item.sellernote.SellingPrice</td>
                    <td>@item.user.FullName</td>
                    <td>@item.sellernote.CreatedDate</td>
                    <td>@item.sellernote.NoOfDownloads</td>
                    <td class="context-menu" data-container-id="context-menu-items" data-row-id="1"></td>
                    <!--<td><a href="@Url.Action("Delete",new {item.sellernote.ID })"><i class="fa fa-trash" aria-hidden="true" style="font-size: 25px;color: #d1d1d1;padding-left: 15px"></i></a></td>-->
                </tr>
                }
            </tbody>
        </table>
    </div>

<div class="page-flex">

    <nav>
        <ul class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success">
            <li class="page-item"><a class="page-link" href="#" data-abc="true"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="#" data-abc="true">1</a></li>
            <li class="page-item"><a class="page-link" href="#" data-abc="true">2</a></li>
            <li class="page-item"><a class="page-link" href="#" data-abc="true">3</a></li>
            <li class="page-item"><a class="page-link" href="#" data-abc="true">4</a></li>
            <li class="page-item"><a class="page-link" href="#" data-abc="true"><i class="fa fa-angle-right"></i></a></li>
        </ul>
    </nav>


</div>

