
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}



    <section class="first-section-8">
        <h2>Download Free/Paid Notes<br>or Sale your Book</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Qui nostrum ad nesciunt,<br> at, architecto sint est aperiam maiores dolores!</p>
        <div class="box1">
            <button type="button" class="sec"><a href="../Home/FAQ" style="color: white;text-decoration: none">LEARN MORE</a></button>
        </div>
    </section>

    <section class="admin1">
        <div class="full" style="margin-top: 30px;">
            <div class="left-8">
                <h2>About <br>NotesMarketPlace</h2>
            </div>


            <div class="right-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non <br>reiciendis architecto rem qui, praesentium nostrum inventore<br> molestias hic voluptatibus alias sapiente illo nihil, debitis quod <br>sit voluptate sapiente illo nihil sapient</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non <br>reiciendis architecto rem qui, praesentium nostrum inventore<br> molestias hic voluptatibus alias sapiente illo nihil, debitis quod <br>sit voluptate sapiente illo nihil sapient</p>

            </div>
        </div>
    </section>

    <section class="admin1" style="background-color: #f9f9f9">
        <h2 style="text-align: center;padding-top: 60px">How it works?</h2>

        <div class="full1">
            <div class="left1">
                <img src="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/download.png" class="img-responsive img-circle center" style="width: 140px;height: 140px;box-shadow: 0 0 30px 0 rgba(0,0,0,0.8)">

                <h1>Download free/paid notes</h1>
                <h4>Get material for your <br> &emsp;&emsp;Cource etc.</h4>
                <button type="button" text="DOWNLOAD"><a href="../Signup/SearchNotes" style="color: white;text-decoration: none">DOWNLOAD</a></button>

            </div>
            <div class="right1">
                <img src="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/seller.png" class="img-responsive img-circle center" style="width: 140px;height: 140px;box-shadow: 0 0 30px 0 rgba(0,0,0,0.8)">

                <h1>Seller</h1>
                <h4>Upload and Download Cource<br> &emsp;&emsp;&emsp;and Materials etc.</h4>
                @if(Session["ID"]==null)
                {

                    <button type="button" text="DOWNLOAD"><a href="../Signup/Signup" style="color: white;text-decoration: none">SELL BOOK</a></button>
                }
                else
                {
                    <button type="button" text="DOWNLOAD"><a href="../Signup/Dashboard" style="color: white;text-decoration: none">SELL BOOK</a></button>

                }
            </div>

        </div>
    </section>
    <section class="admin1">
        <h2 style="text-align: center;padding-top: 60px  ">What our Customers are Saying</h2>
        <div class="grid-contain">
            <div class="trio">
                <div class="both">
                    <div class="author-pic">
                        <img src="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/customer-1.png" alt="client" class="img-responsive img-circle">
                    </div>
                    <div class="author-name-des">
                        <h3>Walter Meller</h3>
                        <p>Founder & CEO, MAtrix Group</p>
                    </div>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error<br> soluta aspernatur suscipit tempora ab consequatur voluptate, molestias<br> a voluptatibus, aliquid deserunt velit.</p>
                </div>
            </div>
            <div class="trio">

                <div class="both">
                    <div class="author-pic">
                        <img src="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/customer-2.png" alt="client" class="img-responsive img-circle">
                    </div>
                    <div class="author-name-des">
                        <h3>Jonnie Riley</h3>
                        <p>Employee, Curious Snacks</p>
                    </div>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error<br> soluta aspernatur suscipit tempora ab consequatur voluptate, molestias<br> a voluptatibus, aliquid deserunt velit.</p>
                </div>


            </div>
            <div class="trio">
                <div class="both">
                    <div class="author-pic">
                        <img src="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/customer-3.png" alt="client" class="img-responsive img-circle">
                    </div>
                    <div class="author-name-des">
                        <h3>Amilia Luna</h3>
                        <p>Teacher, Saint Joseph High School</p>
                    </div>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error<br> soluta aspernatur suscipit tempora ab consequatur voluptate, molestias<br> a voluptatibus, aliquid deserunt velit.</p>
                </div>
            </div>
            <div class="trio">
                <div class="both">
                    <div class="author-pic">
                        <img src="@Url.Content("~/Content/mytemplate/")Marketplace/front/images/customer-4.png" alt="client" class="img-responsive img-circle">
                    </div>
                    <div class="author-name-des">
                        <h3>Daniel Cardos</h3>
                        <p>Software Engineer, Infinitum Company</p>
                    </div>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error<br> soluta aspernatur suscipit tempora ab consequatur voluptate, molestias<br> a voluptatibus, aliquid deserunt velit.</p>

                </div>
            </div>
        </div>

    </section>

   

    <hr>
   


